.xDatosMain {
    width: 100%;
    min-height: calc(100vh - 195px);
    margin-top: 1rem;
}

.xDatosMainSectionA {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.xDatosMainSectionA > h1 {
    color: #0033a0;
    font-size: 32px;
    margin: 0;
}

.xDatosMainSectionA > div {
    width: 92vw;
    height: auto;
    display: flex;
    background-color: #e0eaff;
    border-radius: .5rem;
    color: #5e85d8;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}

.xDatosMainSectionA > div > img {
    display: block;
    width: 50px;
    height: 50px;
}

.xDatosMainSectionA > div > p {
    font-size: 1rem;
    padding: 0 2rem 0 .5rem;
    margin: 0;
    font-weight: bolder;
}

.xDatosMainSectionA > p {
    width: 90vw;
    height: 48px;
    color: #0033a0;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.xDatosMainSectionA > form {
    display: flex;
    gap: 1.25rem;
}

.xDatosMainSectionA > form > div {
    gap: .5rem;
    display: flex;
    align-items: center;
}

.xDatosMainSectionA > form > div > input {
    width: 13px;
    height: 18px;
}

.xDatosMainSectionA > form > div > label {
    height: 18px;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}

.xDatosMainSectionB {
    margin-top: 2rem;
}

.xDatosMainSectionB > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.xDatosMainSectionB > form > div {
    position: relative;
}

.xDatosMainSectionB > form > div > select,
.xDatosMainSectionB > form > div > input {
    width: 92vw;
    height: 42px;
    background: #fff;
    border: .0625rem solid #d2d2d2;
    outline: none;
    color: #000;
    font-size: 1rem;
    padding: .5rem 1rem;
    transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.xDatosMainSectionB > form > div > label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    pointer-events: none;
    transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.xDatosMainSectionB > form > div input:focus + label,
.xDatosMainSectionB > form > div select:focus + label,
.xDatosMainSectionB > form > div input:not(:placeholder-shown) + label,
.xDatosMainSectionB > form > div select:valid + label {
    top: 1.2px;
    left: .5rem;
    font-size: .75rem;
    background: #fff;
    padding: .5rem .5rem 0.25rem .5rem;
}

.xDatosMainSectionB > form > div input:valid,
.xDatosMainSectionB > form > div select:valid {
    border-color: #00aec7;
}

.xDatosMainSectionB > form > div input:valid + label,
.xDatosMainSectionB > form > div select:valid + label {
    color: #00aec7;
}

.xDatosMainSectionB > form > div input.touched:invalid,
.xDatosMainSectionB > form > div select.touched:invalid {
    border-color: #e4002b;
}

.xDatosMainSectionB > form > div input.touched:invalid + label,
.xDatosMainSectionB > form > div select.touched:invalid + label {
    color: #e4002b;
}

.xDatosMainSectionC {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.xDatosMainSectionC > button {
    background-color: #e3e829;
    color: #0033a0;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2rem;
    width: 100%;
    max-width: 7.5625rem;
    padding: 1rem .625rem;
    text-transform: capitalize;
    border: .0625rem solid transparent;
}

.xDatosMainSectionC .xDatosMainSectionC__WB {
    background-color: #fff;
    border-color: #0033a0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader img {
    object-fit: contain;
}

@media (min-width: 768px) {
    
    .xHomeMainSectionB {
        width: 100%;
        height: 64px;
    }

    .xHomeMainSectionC > div {
        width: 400px;
    }

    .xHomeFooterSectionB {
        display: flex;
        flex-direction: row;
    }

    .xDatosMainSectionB > form > div > select,
    .xDatosMainSectionB > form > div > input {
        width: 414px;
    }
}