.xConfirmationMain {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xConfirmationSectionA {
    width: 100%;
    max-height: calc(100vh - 1rem);
    margin: 0.5rem;
    padding: 2.25rem 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .625rem;
}

.xConfirmationSectionA > h2 {
    width: 100%;
    color:#0033a0;  
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.xConfirmationSectionA > div:nth-of-type(1) {
    width: 100%;
    margin: 2rem 0;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(1) {  
    width: 60%;
    margin: 0 auto;
    background-color: #e3e829;
    color: #0033a0;
    font-size: .875rem;
    padding: .625rem;
    border-radius: .5rem .5rem 0 0;
    text-align: center;
    font-weight: bold;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) {
    width: 100%;
    height: auto;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
    width: 100%;
    height: 60px;
    border-radius: .5rem .5rem 0 0;
    padding: .625rem 1rem;
    background-color: #0033a0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > span {
    flex-basis: 60%;
    height: auto;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div {
    flex-basis: 40%;
    height: 100%;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #fff;
    text-align: center;
    color: #53565a;
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
    width: 100%;
    border: .0625rem solid #0033a0;
    padding: 1.6875rem 0;
    color: #0033a0;
    border-radius: 0 0 .5rem .5rem;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
    margin: 0 auto .15rem;
    width: 60%;
    border-radius: .5rem .5rem 0 0;
    text-align: center;
    font-size: 1.125rem;
    padding: .625rem;
    background-color: #f1f4fb;
    line-height: 27px;
}

.xConfirmationSectionA > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
    margin: 0 auto;
    width: 75%;
    border-radius: .5rem;
    padding: .625rem;
    background-color: #f1f4fb;
    text-align: center;
    font-size: 2.25rem;
    line-height: 58px;
    font-weight: 400;
}

.xConfirmationSectionA > div:nth-of-type(2) {
    margin: 0 auto 1rem;
    width: 75%;
    height: 56px;
    padding: .625rem;
    border-radius: .5rem;
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
    background-color: #e5eaf5;
    color: #0033a0;
    line-height: 18px;
}

.xConfirmationSectionA > div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xConfirmationSectionA > div:nth-of-type(3) > button:nth-of-type(1) {
    height: 44px;
    color: #0033a0;
    font-size: 1rem;
    font-weight: bold;
    border: .125rem solid #0033a0;
    border-radius: 3.125rem;
    text-align: center;
    background-color: transparent;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}

.xConfirmationSectionA > div:nth-of-type(3) > button:nth-of-type(2) {
    height: 44px;
    color: #0033a0;
    font-size: 1rem;
    font-weight: bold;
    border: .125rem solid #e3e829;
    border-radius: 3.125rem;
    text-align: center;
    background-color: #e3e829;
    padding: .7rem 2.1rem;
    margin-top: 1rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader img {
    object-fit: contain;
}

@media (min-width: 768px) {
    
    .xConfirmationSectionA {
        width: 498px;
    }
}

@media (min-width: 1024px) {
    
    .xConfirmationSectionA {
        width: 750px;
    }
}