.xHomeMain {
    display: flex;
    flex-direction: column;
}

.xHomeMainSectionA {
    height: 350px;
    width: 100%;
    background-color: #2d6df6;
    background-repeat: no-repeat;
    background-image: url(../../Assets/Images/bannerMain.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.xHomeMainSectionA > div {
    height: 269px;
    width: 310px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 1pc;
}

.xHomeMainSectionA > div > h2 {
    color: #2d6df6;
    font-size: 1.5rem;
    font-weight: bold;
    width: 250px;
    margin-bottom: 15px;
    padding: 0;
}

.xHomeMainSectionA > div > p {
    color: gray;
    height: 24px;
    width: 250px;
    margin-bottom: 15px;
    font-weight: bold;
}

.xHomeMainSectionA > div > div {
    position: relative;
    height: 42px;
    width: 250px;
    margin-bottom: 1.7rem;
}

.xHomeMainSectionA > div > div > input {
    height: 100%;
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 15px;
    background-color: #fff;
    border: .0625rem solid #d2d2d2;
    outline: none;
    color: #000;
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
    transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.xHomeMainSectionA > div > div > label {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 50px);
    transform: translateY(-50%);
    pointer-events: none;
    transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.25s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.xHomeMainSectionA > div > div input:focus + label,
.xHomeMainSectionA > div > div input:not(:placeholder-shown) + label {
    top: 1.2px;
    left: calc(50% - 50px);
    font-size: .9rem;
    background: #fff;
    padding: .1rem;
}

.xHomeMainSectionA > div > div > input:valid {
    border-color: #00aec7;
}

.xHomeMainSectionA > div > div > input:valid + label {
    color: #00aec7;
}

.xHomeMainSectionA > div > div > input:invalid:not(:placeholder-shown) {
    border-color: #e4002b;
}

.xHomeMainSectionA > div > div > input:invalid:not(:placeholder-shown) + label {
    color: #e4002b;
}

.xHomeMainSectionA > div > div > input.touched:invalid {
    border-color: #e4002b;
}

.xHomeMainSectionA > div > div > input.touched:invalid + label {
    color: #e4002b;
}

.xHomeMainSectionA > div > button {
    width: 250px;
    padding: 10px;
    border-radius: 1.5pc;
    background-color: #e3e829;
    border: none;
    color: #0033a0;
    font-weight: 700;
    margin-top: 0;
    outline: none;
}

.xHomeMainSectionB {
    width: 100%;
    height: 88px;
    padding: 20px;
    color: #0033a0;
    text-align: center;
    background-color: #e3e829;
    font-weight: bold;
    line-height: 1.5;
}

.xHomeMainSectionB > p > span {
    text-decoration: underline;
}

.xHomeMainSectionC {
    width: 100%;
    height: 541px;
    padding: 50px 0;
    color: #fff;
    background-color: #2d6df6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.xHomeMainSectionC > div > h3 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.xHomeMainSectionC > div > p {
    margin-bottom: 1rem;
}

.xHomeMainSectionD {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    z-index: 1000;
}

.xHomeMainSectionD img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.xHomeFooter {
    width: 100%;
    height: auto;
    padding: 60px 50px 40px;
    color: #fff;
    background-color: #0033a0;
}

.xHomeFooterSectionA {
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.xHomeFooterSectionB {
    color: #91a3dfd8;
    margin-top: 40px;
    margin-bottom: 1rem;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
}

.xHomeFooterSectionB > p {
    text-align: center;
    cursor: pointer;
}

.xHomeFooterSectionB > p:hover {
    text-decoration: underline;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader img {
    object-fit: contain;
}

@media (min-width: 768px) {
    
    .xHomeMainSectionB {
        width: 100%;
        height: 64px;
    }

    .xHomeMainSectionC > div {
        width: 400px;
    }

    .xHomeFooterSectionB {
        display: flex;
        flex-direction: row;
    }
}