.xHeader {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto 15px;
}

.xHeaderSectionA {
    height: 54px;
    width: 230px;
    margin: 4px 0;
    background-image: url(../../Assets/Images/logo.svg);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: center left;
}

.xHeaderSectionB {
    width: 100%;
    height: 50px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.xHeaderSectionB > ul {
    max-width: 434px;
    height: 24px;
    display: flex;

}

.xHeaderSectionB > ul > li {
    width: auto;
    height: 100%;
    display: flex;
    margin-right: .15rem;
}

.xHeaderSectionB > ul > li > div {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.xHeaderSectionB .xHeaderSectionBStepActive {
    background-color: rgb(0, 174, 199);
    color: rgb(250, 250, 250);
}

.xHeaderSectionB > ul > li > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 174, 199);
    background-color: rgb(223, 223, 223);
    margin-right: .15rem;
}

.xHeaderSectionB > ul > li > div > span {
    width: 22px;
    height: 22px;
}

.xHeaderSectionB .xHeaderSectionBStepCompleted {
    background-color: rgb(0, 51, 160);
}

.xHeaderSectionB > ul > li > div > p {
    width: auto;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: rgb(0, 174, 199);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-left: .25rem;
    margin-right: .25rem;
}